*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
}
body {
    color: #ffff;
    background-color: #6422B8;
    padding: 0;
    margin: 0;
    width: 580px;
    height: 100%;
}
.ContactosC {
    width: 440PX;
    height: 587px;
    background-color: #6422B8 ;
    display: flex;
    flex-wrap: wrap; /* Permite que los elementos se envuelvan verticalmente */
    margin: auto;
    padding: 0;
}
.Cuadrotres img {
    cursor: pointer;
    border: 0;
    width: 400px;
    padding: 0%;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}
.Cuadrotres p {
    color: #ffff;
    font-size: 40px;
    text-align: center;
    margin-top: 20px;
}
.Cuadrotres {
    margin: 10px;
    width: 400px;
}